{% extends 'base.html' %}

{% block content %}

<style>
    .form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.h3{
    text-align: center;
}
</style>

<main class="form-signin">
<form method="POST">{% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Enter OTP</h1>

    {% if otperror %}
    <center><p class="m-auto" style="color: red;">{{otperror}}</p></center>
    {% endif %}
    
    <input type="number" name="otp" id="inputOtp" class="form-control" placeholder="Enter OTP send to {{request.user.phone}}" required>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Confirm</button>
    
  </form>
</main>
<div class="d-flex flex-column">
    <p class="m-auto" style="color: green;display: none;" id="otpconfirm">Otp Sent may take some time to reach</p>
    <button class="m-auto btn btn-primary" onclick="send_otp(this)">Send Otp</button>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    function send_otp($this){
    $.ajax({
        url: "{% url 'sendotp' request.user.phone %}",
    })
document.getElementById("otpconfirm").style.display='block'
}
</script>



{% endblock content %}